.chat-main
  .main-header
    .main-header__left
      .main-header__left__group
        = @group.name
      %ul.main-header__left__list
        Members; 
        %li.main-header__left__list__member
          - @group.group_users.each do |group_user|
            = group_user.user.name
            
    = link_to edit_group_path(@group) do
      .main-header__edit
        Edit

  .messages
    = render @messages
    -# = render partial: 'message', collection: @messagesの略

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon2')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

-# ビューの実装時点ではこんな感じの記述になる
    -# .form
    -#   %form
    -#     %input.form__message
    -#     .form__mask
    -#       %label.form__mask__image
    -#         = icon('fa','image',class: 'icon')
    -#         %input.hidden{type: 'file'}
    -#     %input.form__submit{type: 'submit', value: 'Send'}